/* ! 1-1 */
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');
/* ! 1-2 */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
/* ! 1-3 | 1-7 */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&display=swap');
/* ! 1-4 */
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
/* ! 1-5 */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
/* ! 1-5 | 1-8 */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
/* ! 1-6 */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
/* ! 1-8 */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
/* ! 1-9 | 1-10 */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
/* ! 1-11 */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');
/* ! 1-12 */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');
/* ! 1-13 | 1-15 | 1-18 | 2-2 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;1,400;1,800&display=swap');
/* ! 1-14 */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');
/* ! 1-16 */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
/* ! 1-17 */
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');
/* ! 1-18 */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* ! 2-1 */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/*? hides the counter buttons from number input elements */
@layer components {
    .no-spinner {
        -moz-appearance: textfield;
        -webkit-appearance: none;
        margin: 0;
    }

    .no-spinner::-webkit-inner-spin-button,
    .no-spinner::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}