/* ! 1-1 */
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');
/* ! 1-2 */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
/* ! 1-3 | 1-7 */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&display=swap');
/* ! 1-4 */
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
/* ! 1-5 */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
/* ! 1-5 | 1-8 */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
/* ! 1-6 */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
/* ! 1-8 */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
/* ! 1-9 | 1-10 */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
/* ! 1-11 */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');
/* ! 1-12 */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');
/* ! 1-13 | 1-15 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap');
/* ! 1-14 */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
